<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @lookup %>
    <% if @lookup.cached %>
      <div class="pointer-events-none fixed inset-x-0 bottom-0 sm:flex sm:justify-center sm:px-6 sm:pb-5 lg:px-8">
        <div class="pointer-events-auto flex items-center justify-between gap-x-6 bg-gray-900 px-6 py-2.5 sm:rounded-xl sm:py-3 sm:pl-4 sm:pr-3.5">
          <p class="text-sm leading-6 text-white">
            This data is <%= time_ago_in_words(@lookup.cached.created_at) %> old.
          </p>
        </div>
      </div>
    <% end %>
    <div>
      <h2 class="text-sm font-medium text-gray-500">Details: (<%= @lookup.unit %>)</h2>
      <ul role="list" class="mt-3 grid grid-cols-1 gap-1">
        <li class="col-span-1 flex rounded-md shadow-sm">
          <div class="flex w-16 flex-shrink-0 items-center justify-center bg-blue-600 rounded-l-md text-sm font-medium text-white">
            L
          </div>
          <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white">
            <div class="flex-1 truncate px-4 py-2 text-sm">
              Low
              <p class="text-gray-500">
                <%= @lookup.low %>
              </p>
            </div>
          </div>
        </li>
        <li class="col-span-1 flex rounded-md shadow-sm">
          <div class="flex w-16 flex-shrink-0 items-center justify-center bg-red-600 rounded-l-md text-sm font-medium text-white">
            H
          </div>
          <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white">
            <div class="flex-1 truncate px-4 py-2 text-sm">
              High
              <p class="text-gray-500">
                <%= @lookup.high %>
              </p>
            </div>
          </div>
        </li>
        <li class="col-span-1 flex rounded-md shadow-sm">
          <div class="flex w-16 flex-shrink-0 items-center justify-center bg-green-600 rounded-l-md text-sm font-medium text-white">
            Now
          </div>
          <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white">
            <div class="flex-1 truncate px-4 py-2 text-sm">
              Current
              <p class="text-gray-500">
                <%= @lookup.high %>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <%= link_to "Back to lookups", lookups_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
